<% content_for :header do %>
  <h1>All requests</h1>
<% end %>

<% content_for :content do %>
  <div class="row">
    <div class="col-md-4">
      <%= render partial: 'shared/search_form' %>
    </div>
  </div>
  <%= render partial: 'shared/entries_table', locals: {entries: @requests} %>
<% end %>
