<% scope = [:requests, :my] %>

<% content_for :header do %>
  <h2><%= t_view :heading, scope: scope, model_name: Request.model_name.human(count: :other) %></h2>
<% end %>

<% content_for :content do %>
  <%= render partial: 'shared/entries_search' %>
  <%= render partial: 'shared/entries_table', locals: {entries: @requests} %>
<% end %>
