<% content_for :header do %>
  <h2><%= Request.model_name.human %>: <%= @request.title %></h2>
<% end %>

<% content_for :toolbar do %>
  <%= entry_toolbar @request %>
<% end %>

<% content_for :content do %>
  <%= render partial: 'shared/entry_details', locals: {entry: @request} %>
<% end %>
