<% scope = [:offers, :edit] %>

<% content_for :header do %>
  <h2><%= t_view :heading, scope: scope, model_name: Offer.model_name.human %></h2>
<% end %>

<% content_for :content do %>
  <%= render partial: 'shared/entry_form', locals: {entry: @offer} %>
<% end %>
