<% content_for :header do %>
  <h1><%= Offer.model_name.human %>: <%= @offer.title %></h1>
<% end %>

<% content_for :content do %>
  <%= render partial: 'shared/entry_details', locals: {entry: @offer} %>
<% end %>
