<p><%= t_mail(:welcome, name: @resource.name) %>,</p>
<p><%= t_mail(:message) %></p>
<p><%= t_mail(:instruction) %></p>
<p><%= link_to t_mail(:confirmation_link), confirmation_url(@resource, confirmation_token: @token) %></p>
