<% if @user.confirmed_at.nil? %>
  <p>Hello <%= @email %>!</p>

  <p>You requested to reset your password but your email is not confirmed yet. Please first confirm your email through the link below and request the password reset again afterwards:</p>
  <p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @resource.confirmation_token) %></p>
<% else %>
  <p>Hello <%= @resource.email %>!</p>

  <p>Someone has requested a link to change your password. You can do this through the link below.</p>

  <p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

  <p>If you didn't request this, please ignore this email.</p>
  <p>Your password won't change until you access the link above and create a new one.</p>
<% end %>
